<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Epox Verification Mail</title>
  </head>
  <body>
    <h1>Epox verification mail</h1>
    <p>Please <a href="https://epox.app/server/auth/verify-user?email={{email}}&code={{code}}">click here</a> to verify your email address!</p>
  </body>
</html>