<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Epox Password Reset Mail</title>
  </head>
  <body>
    <h1>Epox password reset mail</h1>
    <p>Please <a href="https://epox.app/password-reset?email={{email}}&code={{code}}">click here</a> to reset your password!</p>
  </body>
</html>